@media (min-width: 765px) {   

    
    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 64px;
    }

    #menu {
        display: none;
    }

    h1 {
        padding: 15px;
        font-size: 1.3rem;
        font-weight: 400;
    }


    nav ul {
        flex-direction: row;
    }

    nav li {
        display: flex;
    }

    nav a {
        font-size: 1rem;
        padding: 0 15px;
    }

    main {
        margin: 1rem auto;
        max-width: 930px;
    }

/*    h2 {
        grid-column: 1/3;
    } */


    footer p {
        font-size: 1rem;
    }

    #lastModified {
        font-size: .8rem;
    }
}

@media (min-width: 1050px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
        place-items: center;
    }

    h2 {
        grid-column: 1/4;
    }
    
}